.about {
    padding-top: 80px;
    padding-bottom: 17px;

    @media(max-width: 1023px) {
        padding-top: 48px;
        padding-bottom: 17px;
    }

    @media(max-width:600px) {
        padding-bottom: 34px;
    }

    &__inner {
        padding-left: 27px;
        padding-right: 41px;

        @media(max-width: 1023px) {
            padding-left: 19px;
            padding-right: 20px;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        align-items: center;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 24px;
        }
    }

    &__players {
        flex-basis: 394px;
        flex-shrink: 0;

        @media (max-width: 1023px) {
            flex-basis: 335px;
        }

        @media (max-width: 767px) {
            flex-basis: auto;
        }
    }

    &__title_end {
        display: inline;
    }
}

.h2__title {
    @include h2-title;
}