.info {
    &__inner {
        padding-right: 41px;

        @media(max-width: 1023px) {
            padding-right: 20px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 17px;

        @media(max-width: 1023px) {
            flex-direction: column;
        }
    }

    &__img {
        flex-basis: 524px;
        flex-shrink: 0;

        @media(max-width: 1023px) {
            flex-basis: 420px;
        }

        @media(max-width:767px) {
            flex-basis: auto;
        }
    }

    &__box {
        flex-basis: 704px;
        padding-left: 27px;

        @media(max-width: 1023px) {
            padding-left: 19px;
            flex-basis: auto;
        }

        &_table {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media(max-width: 500px) {
                grid-template-columns: 1fr;
            }
        }

        &_name {
            @include info(400, 0.7);
            border-bottom: 2px solid $color-stroke;

            @media(max-width: 500px) {
                border-bottom: none;
            }
        }

        &_value {
            padding-left: 16px;
            @include info(700, 1);
            border-left: 2px solid $color-stroke;
            border-bottom: 2px solid $color-stroke;

            @media(max-width: 500px) {
                border-left: none;
            }
        }

        &_footer {
            margin-top: 48px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
            color: $color-accent;
        }
    }
}

.h2__title_down {
    margin-bottom: 60px;
}