$color-dark: #313131;
$color-btn-default: #1f1f1f;
$color-btn-hover: #fbce51;
$color-btn-disabled: #d6d6d6;
$color-logo: #595653;
$color-superlight: #fff;
$color-bg-run: #f54932;
$color-accent: #3057a2;
$color-stroke: #d0d0d0;
$color-bg-main: #e9ded4;

$font-family: "Golos Text", sans-serif;
$second-family: "Merriweather", serif;
$third-family: "Montserrat", sans-serif;
